body,
html {
  height: 100%;
  min-height:100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
#navigator {
    position: absolute;
    font-size:25px;
    top:100px;
    left:30%;
    right:30%;
    width:60%;
}
#navigator a{
    text-decoration: none;
}
/*CSS for the instructions section */
#instructions{
    position: absolute;
    top:180px;
    left:20%;
    right:40%;
}
#fileUploadInst{
    position:relative;
    top:20px;
}

/*CSS for the file Upload section */

#fileUpload{
    position:absolute;
    bottom:-20%;
    left:20%;
    font-size:25px;
}
#dataButtonTemplate{
    position: relative;
    left:25%;
    bottom:175px;
}
#dataButtonUpload{
    border-color:#262626;
    color:#262626;
    position: relative;
    left:50%;
}
#dataButtonUpload:hover{
    background-color:#d9d9d9;
}
#mapButtonTemplate{
    position: relative;
    left:25%;
    bottom:175px;
}
#mapButtonUpload{
    border-color:#262626;
    color:#262626;
    position: relative;
    left:50%;
}
#mapButtonUpload:hover{
    background-color:#d9d9d9;
}
#next{
    position: relative;
    left:540px;
    bottom:10px;
}