body,
html {
  height: 100%;
  min-height:100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
#navigator {
    position: absolute;
    font-size:25px;
    top:100px;
    left:30%;
    right:30%;
    width:60%;
}
#navigator a{
    text-decoration: none;
}
#templateImage{
    position: absolute;;
    top:35vh;
    left:35vw;
    height:300px;
    width:300px;
}
.btn.btn-success{
    position:absolute;
    top:88vh;
    left:35vw;
    font-size:30px;
}
.btn.btn-primary {
    position:absolute;
    top:88vh;
    left:52.5vw;
}
/*CSS for the tab buttons*/
.btn.btn-outline-success{
    position:relative;
    left:36vw;
    top:70px;
    padding-left:50px;
    padding-right:50px;
    border-color:#262626;
    color:#262626;
}
.btn.btn-outline-success:hover{
    color:#262626;
    background-color: #d9d9d9;
    border-color:#262626;
}
.btn.btn-outline-success.active{
    background-color: #262626 !important;
    border-color:#262626 !important;
}