<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width = device-width, initial-scale = 1">
	<title> Build Cartogram </title>
	<link rel="stylesheet" href="CSS/header.css"  type="text/css">
	<link rel="stylesheet" href="CSS/buildCart.css"  type="text/css">
	<script src='/socket.io/socket.io.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../JS/buildCart.js"></script>

	<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

	
	<div id="header" class="header">
		<a href="/" class="logo">B-Cart</a>
		<div class="header-right">
			<a href="/">Home</a>
			<a id = "bold" href="/buildCart">Build Cartogram</a>
			<a href="/cartUse">Use of Cartograms</a>
			<a href="/resources"> Resources </a>
		</div>
	</div>

	<div id="main">
		<div id="navigator">
			<p> <a href="/buildCart" id="bold">Begin</a> &#8594; Preview &#8594; Build &#8594; Download </p>
		</div>

		<div id="rest">
			<div id="instructions">
				<span id="fileUploadInst">
					<h1> Instructions </h1>

				
					<h5> 1. File Upload</h5>
					<p> First step is to upload your SVG map file and CSV data file. A window will open where you can select which files to upload to the server. 
						An example of the map file and data file that the system expects can be downloaded below.</p>

						<div id="templateButtons">
							<a href="/downloadDataTemp"><button type="button" id="dataButtonTemplate" class="btn btn-success"><span>Download CSV Template</span></button></a>
							<a href="/downloadMapTemp"><button type="button" id="mapButtonTemplate" class="btn btn-success"><span> Download SVG Template</span></button></a>
						</div>
					<br>
					<p>The CSV file has a very simple format. Each line has two elements that represent the name of the region and its desired
						statistic. The SVG file has a more detailed requirement. Each region in the map file must have a name associated with it, if this is not the case 
						the system will reject it. If a region in the map file doesn't have a data value associated with it, the region will remain the same in the resulting cartogram. For the 
						d attribute, the system only supports C, L, M or Z characters, it will reject other characters. If a file does contain a C character,
						its recommended using other software to convert the curves to line segments as it takes the system a substantial length of time to do this.
					</p>

					<p>Press Next to Continue!!</p>

					<img src="images/fileUpload.PNG" >
					<h5> 2. Preview</h5>
					<h5> 3. Build Cartogram</h5>
					<h5> 4. Download Cartogram</h5> 
				</span>

			</div>

			<div id="fileUpload">

				<form action="fileUpload" method="POST" enctype="multipart/form-data">
					<h1>File Upload</h1>
					<p>Data File:
						<input accept=".csv" id="myFile" name="datafiletoupload" type="file" style="position:absolute;left:-10000px;top:-10000px;">
						<button onclick="$('#myFile').click();" type="button" id="dataButtonUpload" class="btn btn-outline-primary">Upload CSV File</button>
					</p>
					
					<p>Map File:
						<input accept=".svg" id="myFile2" name="mapfiletoupload" type="file" style="position:absolute;left:-10000px;top:-10000px;">
						<button onclick="$('#myFile2').click();" type="button" id="mapButtonUpload" class="btn btn-outline-primary">Upload SVG File</button>
					</p> 

					<input id="submit" type="submit" style="position:absolute;left:-10000px;top:-10000px;">
					<button onclick="$('#submit').click();" type="submit" id="next" class="btn btn-primary">Next</button>
				</form>
			</div>
		</div>
	</div>	
</body>
</html>