<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Display Map File</title>
        <link rel="stylesheet" type="text/css" href="/css/displayMap.css" >
    </head>
    <body>
        <div id="main">
            <header>
                <h1>Is this the file you uploaded?</h1>
            </header>

            <img id="mapFileImage" src="images/text.png" alt="Image of Map">

            <form action="makeCartogram" method="POST" enctype="multipart/form-data">
                <input id="yesButton" type="submit" value="Yes! Build the Cartogram!">
            </form>

            <form action="" method="POST" enctype="multipart/form-data">
                <input id="noButton" type="submit" value="No lets go back">
            </form>

            <p id="result"> </p>
        </div>
    </body>
</html>