<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width = device-width, initial-scale = 1">
	<title> Resources</title>
    <link rel="stylesheet" href="CSS/header.css"  type="text/css">
    <link rel="stylesheet" href="CSS/resources.css"  type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

	<div id="header" class="header">
		<a href="/" class="logo">B-Cart</a>
		<div class="header-right">
			<a href="/">Home</a>
			<a href="/buildCart">Build Cartogram</a>
			<a href="/cartUse">Use of Cartograms</a>
			<a id = "bold" href="/resources"> Resources </a>
		</div>
	</div>
	
	<div id="rest">
		<div id="main">
			<h1>Resources</h1>
			The resource that was used to implement the cartogram algorithm can be found 
			<a href="http://www-personal.umich.edu/~mejn/cart/doc/description.html">here.</a>
			<br>
			<br>
			It provides a C code implementation of Gastner and Newman's diffusion based algorithm and was written by one 
			of the algorithm's creators, Mark Newman. To find out more about this algorithm, their paper can be found <a href="https://www.pnas.org/content/101/20/7499.abstract">here.</a>
			<h2>Overview of the Algorithm</h2>

			The algorithm works by diving a map into sections by projecting a quadrilateral grid onto it. 
			<br>
			<br>
			<img src="images/mapGrid.png" height="300" width="300">
			<br>
			<br>
			It calculates a density value for each grid square and then the algorithm diffuses the grid until there is uniform density everywhere.
			<br>
			<br>
			<img src="images/cartogramGrid.png" height="300" width="300">
			<br>
			<br>
			This grid is then applied onto the map which intern produces the resulting cartogram.
			<br>
			<br>
			<img src="images/cartogramStock.png" height="300" width="300">
			<br>
			<br>
			If you would like to build one of these cartograms yourself then click the button below!
			<br>
			<a href="/buildCart"><button type="button" class="btn btn-primary">Build Cartogram</button></a>
			<p> </p>
		</div>
	</div>
</body>
</html>