<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content= "width = device-width, initial-scale = 1">
	<title> Cartogram Uses </title>
	<link rel="stylesheet" href="CSS/header.css"  type="text/css">
	<link rel="stylesheet" href="CSS/uses.css"  type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

	<div id="header" class="header">
		<a href="/" class="logo">B-Cart</a>
		<div class="header-right">
			<a href="/">Home</a>
			<a href="/buildCart">Build Cartogram</a>
			<a id = "bold" href="/cartUse">Use of Cartograms</a>
			<a href="/resources"> Resources </a>
		</div>
	</div>
	
	<div id="rest">
		<div id="main">
			<h1>Use of Cartograms</h1>

			<h2>What are they for?</h2>
			<p>A cartogram is a type of graphic that changes the area of a region in a map depending on a certain statistic.</p>
			<p>Because it does not depict geographic space but rather changes the size of regions depending on a certain statistic,
				a cartogram is not a true map.
			</p>

			<p>They vary on their degree in which geographic space is changed; some appear very similar to a real-life map, others do not.</p>

			<p>There are four main types of cartograms, each have different ways of displaying a certain statistic (Contiguous, Non-contiguous, Dorling and
				Rectangular).
			</p>

			<p>The type of cartogram that this software produces is Contiguous cartograms.</p>

			<h2>Their Main Uses</h2>

			<p>They are mainly used to portray statistical representations of particular regions.</p>

			<p>They are particularly good for showing things like numbers (of people, things - whether man-made or natural
				- or quantities) and a classic example is voting maps like "number of votes for party X for each constituency".
				Maps such as a chloropleth map that use real-world geography are misleading because they show number of votes but not the
				actual population density in each area; a cartogram does just that.
			</p>
		</div>
	</div>
</body>
</html>