body,
html {
  height: 100%;
  min-height:100%;
  width: 100%;
  margin: 0;
}
#main{
    text-align:center;
}
#bold{
    font-weight:bold;
}
#navigator {
    text-align:center;
    position: relative;
    font-size:25px;
    top:0px;
}
#navigator a{
    text-decoration: none;
}
/*Main section i.e not the header or the nav bar*/
#cartButton{
    position:relative;
    left:2em;
}
#mapButton{
    position:relative;
    top:12.8em;
    right:21em;
}
#mapTitle{
    position:relative;
    left:-8em;
}
#cartogramTitle{
    position:relative;
    bottom:14em;
    margin-left:390px;
}
#map{
    position:relative;
    right:6em;
    height:300px;
    width:300px;
}
#cartogram{
    position:relative;
    bottom:3.2em;
    left:18em;
    height:300px;
    width:300px;
    margin-top:-300px;
}