body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
#navigator {
    text-align:center;
    position: relative;
    font-size:25px;
    top:0px;
}
#navigator a{
    text-decoration: none;
}
/*CSS for the instructions section */
#rest{
    float: left;
    position: relative;
    left: 50%;
    width:60%;
}
#instructions{
    float: left;
    position: relative;
    left: -50%;
    width:100%;
}
#fileUpload{
    float: left;
    position: relative;
    left: -50%;
}
/*CSS for the file Upload section */
#dataButtonUpload{
    position:relative;
    left:5em;
    border-color:#262626;
    color:#262626 !important;
    background-color:white;
}
#dataButtonUpload:hover{
    background-color:#d9d9d9;
}
#dataButtonUpload:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 8px #262626;
}
#mapButtonUpload{
    position:relative;
    left:5em;
    border-color:#262626;
    color:#262626;
    background-color:white;
}
/*To override the color surrounding the button*/
#mapButtonUpload:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 8px #262626;
}
#mapButtonUpload:hover{
    background-color:#d9d9d9;
}
#next{
    position:relative;
    left:9.3em;
    bottom:5px;
}