body,
html {
  height: 100%;
  min-height:100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
#navigator {
    text-align:center;
    position: relative;
    font-size:25px;
    top:0px;
}
#navigator a{
    text-decoration: none;
}
/*Progress bar section*/
.btn.btn-primary {
    position:relative;
    float:right;
    top:14em;
}
.progress{
    float:left;
    position:relative;
    top:12em;
    height:30px !important;
    width:100%;
}
#Info{
    float:left;
    position: relative;
    top:2em;
    font-size:20px;
}
#Error{
    position: absolute;
    left:0%;
    top:12em;
    font-size:20px;
}