body,
html {
  height: 100%;
  min-height:100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
#navigator {
    position: absolute;
    font-size:25px;
    top:100px;
    left:30%;
    right:30%;
    width:60%;
}
#navigator a{
    text-decoration: none;
}
/*CSS for the instructions section */
#instructions{
    position: absolute;
    top:180px;
    left:20%;
    right:40%;
}
#fileUploadInst{
    position:relative;
    top:20px;
}

/*CSS for the file Upload section */
#fileUpload{
    position:absolute;
    top:450px;
    left:20%;
    font-size:25px;
    width:60vw;
    height:210px;
}

#dataButtonTemplate{
    position: relative;
    left:25%;
    bottom:175px;
}
#dataButtonUpload{
    border-color:#262626;
    color:#262626 !important;
    position: absolute;
    left:35vw;
    background-color:white;
}
#dataButtonUpload:hover{
    background-color:#d9d9d9;
}
#dataButtonUpload:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 8px #262626;
}
#mapButtonTemplate{
    position: relative;
    left:25%;
    bottom:175px;
}
#mapButtonUpload{
    border-color:#262626;
    color:#262626;
    position: absolute;
    left:35vw;
    background-color:white;
}
/*To override the color surrounding the button*/
#mapButtonUpload:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 8px #262626;
}
#mapButtonUpload:hover{
    background-color:#d9d9d9;
}
#next{
    position: absolute;
    left:35vw;
    bottom:8px;
}
