body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
#bold{
    font-weight:bold;
}
/*To make everything aligned properly*/
#rest{
  float: left;
  position: relative;
  left: 50%;
  width:40%;
}
#main{
  float: left;
  position: relative;
  left: -50%;
  width:100%;
  top:20px;
}
button{
  position:relative;
  top:10px;
}
p{
  height:20px;
}